.validation-error-message {
  margin: 0;
  letter-spacing: normal;
  width: 90%;
}

.validation-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0 0;
  padding: 3px;
  border-left: 3px solid orange;
  border-radius: 3px;
  color: #f1cfa5;
  letter-spacing: unset;
  font-weight: unset;
}