body * {
  box-sizing: border-box;
  transition: all .3s;
}

main {
  padding: 10px 10px 40px 10px;
}

/* LANDING PAGE */


/* CREATE ACCOUNT FORM && LOGIN FORM (Mostly Shared Classes)*/






/* DASHBOARD */








/* SHOOT VIEW */



/* SHOOT FORM VIEW */

.shoot-form input, .shoot-form textarea {
  width: 75%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.shoot-form>label {
  display: block;
  margin-top: 20px;
}

.shoot-form-gearList {
  list-style: none;
}

.add-gear-button {
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.add-gear-icon {
  margin-right: 5px;
}