/* BOTTOM APP BAR */

nav {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #D3D3D3;
    font-size: 18px;
  }
  
  .nav-hamburger {
    position: absolute;
    left: 15px;
    font-size: 25px;
  }
  
  .nav-hamburger-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
  }
  
  .nav-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    font-size: 25px;
  }
  
  .nav-button {
    background: transparent;
    border: none;
  }
  
  
  .map-placeholder {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
  
  }