.dashboard {
  padding-top: 50px;
}

.app-bar-actions {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 40px;   
  }

.app-bar-actions>a {
    text-decoration: none;
    color: none;
}

.app-bar-btn {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 3px;
}

.app-bar-icon {
    margin-right: 5px;
    font-size: 22px;
}

.save-shoot-btn {
    background-color: #47AD66;
}

.cancel-btn {
    background-color: rgb(121, 121, 121);
}

.delete-shoot-btn {
    background-color: #FF4420;
}

.edit-shoot-btn {
    background-color: steelblue;
}