.greeting {
  color: #37464f;
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: 200;
  font-size: 1.5em;
}

.photoshootGrid {
  padding: 20px;
}

.shoot-card {
  height: 175px;
  margin: 15px auto;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #62717b30;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #62717b2F;
  overflow: scroll;
  transition: all .2s;
}

.shoot-card-title {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  color: #37464f;
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  padding-left: 10px;
  border-bottom: 2px solid #1de8b5;
  font-weight: 200;
  font-size: 1.5em;
}

.shoot-card-location {
  margin: 0;
  padding-left: 10px;
  color: #62717b;
  font-weight: 100;
  font-size: .8em;
}

.shoot-card-description {
  padding: 10px;
  margin: 10px 0 0 0;
}
  
.shoot-card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 16px #62717b2F;
}

.new-shoot-btn {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #223145;
  border-radius: 50%;
  box-shadow: 4px 4px 8px #00000015;
  background-color: #6dffe7;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.new-shoot-btn i {
  transition: all ease-out .4s;
}

.new-shoot-btn:hover {
  box-shadow: 8px 8px 10px #00000025;
}

.new-shoot-btn:hover i {
  transform: rotate(270deg);
}

.new-shoot-btn p {
  display: none;
}
 
@media only screen and (min-width: 640px) {
  .shoot-card {
    margin: 15px 15px;
  }

  .new-shoot-btn {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: unset;
    bottom: 30px;
    left: calc(50% - 75px);
    width: 150px;
    margin: 0;
    padding: 15px;
    border-radius: 30px;
  }

  .new-shoot-btn i {
    width: 28px;
    height: 28px;
    font-size: 1.8em;
  }

  .new-shoot-btn p {
    display: block;
    margin: 0;
    letter-spacing: .04rem;
  }
}