body * {
  box-sizing: border-box;
  transition: all .3s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.scrollLock {
  position: fixed;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 10px 10px 40px 10px;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #e5e8ea;
}

a {
  text-decoration: none;
  color: #2e384c;
}

button:hover {
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  box-shadow: 4px 4px 8px #00000015;
  font-size: .8em;
  text-align: center;
  transition: all .3s;
}

.btn:hover {
  box-shadow: 8px 8px 10px #00000025;
}

.btn-grey {
  background-color: #37464f;
  color: #FFFFFF;
}

.btn-red {
  background-color: #B00020;
  color: #FFFFFF;
}

.btn-lightgrey {
  background-color: #62717b;
}

.btn-green {
  background-color: #1de8b5;
  color: #000000;
}

@media only screen and (min-width: 640px) {
  .btn {
    font-size: 1em;
    padding: 15px;
  }
}